RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f

# RewriteRule ^([^/\.]+)/([^/.]+)?$ package.php?type=$1&packageId=$2&packageId=$3
RewriteRule ^view_clients/([a-zA-Z0-9-/]+)?$ view_clients.php?view=$1
RewriteRule ^([^\.]+)$ $1.php [NC,L]